<div class="alert alert-danger" ng-show="addingItemError">
<a href="#" class="close"  onclick="$('.alert-danger').addClass('ng-hide')" title="close">X</a>
  <strong>{{error}} Error!</strong> accured while adding a new Item/Type.
</div>

<div class="alert alert-danger" ng-show="addingItemtoTypeError">
<a href="#" class="close"  onclick="$('.alert-danger').addClass('ng-hide')" title="close">X</a>
  <strong>Error!</strong> The added Don quantity should be less than the requested quantity in the type!
</div>


<div class="alert alert-success"  ng-show="!addingItemError && addingItemSuccess">
<a href="#" class="close" onclick="$('.alert-success').addClass('ng-hide')" title="close">X</a>
  <strong> Success!</strong> a new Item/Type has been added with success.
</div>
<button ng-if="!showSpinner" type="button" class="btn btn-info col-md-3" data-toggle="modal" data-target="#addFormationModal">
Add A New Subject
</button>
<table class="table table-striped" ng-if="!showSpinner">
  <thead>
    <tr>
    <th class="text-center" scope="col">ID</th>
        <th class="text-center" scope="col">Employee</th>
    <th class="text-center" scope="col">Subject name</th>
     <th class="text-center" scope="col">Salle</th>
          <th class="text-center" scope="col">Theme</th>
<th class="text-center" scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
<tr scope="row" ng-repeat=" item in content track by $index" >

<td  ng-repeat=" i in item track by $index" >
 <span>{{ i }}</span> </td>

<td> 
<button class="btn btn-danger" ng-click="deleteItem(item[0])">Delete</button> 
<button class="btn btn-success" data-toggle="modal" data-target="#updateFormationModal" ng-click="updateDon(item[0])"> Update</button>
</td>
</tr>
  </tbody>
</table>

<div id="addFormationModal" ng-if="!showSpinner" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Add A New Training Session</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    		<input type="number" placeholder="Employee" class="form-control" ng-model="employee"/>  
  
  		<input type="text" placeholder="Subject Name" class="form-control" ng-model="name"/>  
  	  	<input type="text" placeholder="Theme" class="form-control" ng-model="theme"/>  
  	  	 <input type="text" placeholder="Salle" class="form-control" ng-model="salle"/>  
  	
   
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="addItem(employee,name,theme,salle)" data-dismiss="modal">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<div id="updateFormationModal" ng-if="!showSpinner" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Update Subject</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	
   	  	 		<input type="number" placeholder="Employee" class="form-control" ng-model="updateemployee"/>  
 
  		<input type="text" placeholder="Training Session Name" class="form-control" ng-model="updatedname"/>  
  	  	  	<input type="text" placeholder="Training Session Theme" class="form-control" ng-model="updatetheme"/>  
  	  	 <input type="text" placeholder="Training Session Subject" class="form-control" ng-model="updatesalle"/>  
  	  	  
   
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="updateSelectedItem(updateemployee,updatedname,updatetheme,updatesalle)" data-dismiss="modal">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div ng-if="showSpinner" class="lds-dual-ring"></div>