<ajouter-don ></ajouter-don>
<button ng-if="!showSpinner" type="button" class="btn btn-info col-md-3" data-toggle="modal" data-target="#exampleModal">
Add Don
</button>
<table class="table table-striped" ng-if="!showSpinner">
  <thead>
    <tr>
    <th class="text-center" scope="col">ID</th>
<th class="text-center" scope="col">Type</th>
<th class="text-center" scope="col">description</th>
<th class="text-center" scope="col">Quantity</th>
<th class="text-center" scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
<tr scope="row" ng-repeat=" item in content track by $index" >
<td  ng-repeat=" i in item track by $index"> {{i}} </td>
<td> 
<remove-don id="item[0]"></remove-don>
<button class="btn btn-success"> Update</button>
</td>
</tr>
  </tbody>
</table>

<div ng-if="showSpinner" class="lds-dual-ring"></div>