<div class="alert alert-danger" ng-show="addingItemError">
<a href="#" class="close"  onclick="$('.alert-danger').addClass('ng-hide')" title="close">X</a>
  <strong>{{error}} Error!</strong> accured while adding a new Item/Type.
</div>

<div class="alert alert-danger" ng-show="addingItemtoTypeError">
<a href="#" class="close"  onclick="$('.alert-danger').addClass('ng-hide')" title="close">X</a>
  <strong>Error!</strong> The added item should down should be less than the requested item in the type!
</div>


<div class="alert alert-success"  ng-show="!addingItemError && addingItemSuccess">
<a href="#" class="close" onclick="$('.alert-success').addClass('ng-hide')" title="close">X</a>
  <strong> Success!</strong> a new Item/Type has been added with success.
</div>
<button ng-if="!showSpinner" type="button" class="btn btn-info col-md-3" data-toggle="modal" data-target="#exampleModal">
Add Don
</button>

<button ng-if="!showSpinner" type="button" class="btn btn-danger col-md-3 pull-right" data-toggle="modal" data-target="#typeModal">
Add Type
</button>
<table class="table table-striped" ng-if="!showSpinner">
  <thead>
    <tr>
    <th class="text-center" scope="col">ID</th>
    <th class="text-center" scope="col">description</th>
    <th class="text-center" scope="col">affectation</th>
    <th class="text-center" scope="col">Quantity</th>
    <th class="text-center" scope="col">Type</th>
<th class="text-center" scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
<tr scope="row" ng-repeat=" item in content track by $index" >

<td  ng-repeat=" i in item track by $index" ng-if="!displayitem($index)"> <find-type ng-if="$index == 4" sectioncontent="item[4]"></find-type>  <span ng-if="$index != 4">{{ i }}</span> </td>

<td> 
<button class="btn btn-danger" ng-click="deleteItem(item[0])">Delete</button> 
<button class="btn btn-success" data-toggle="modal" data-target="#updateModal" ng-click="updateDon(item[0])"> Update</button>
</td>
</tr>
  </tbody>
</table>






<div id="typeModal" ng-if="!showSpinner" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Add A New Type</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
  		<input type="text" placeholder="type name" class="form-control" 	ng-value="typename" ng-model="typename"/>  
		<input type="number" placeholder="type quantity" 	class="form-control"ng-value="typequantity" ng-model="typequantity" />  

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="addType(typequantity,typename)" data-dismiss="modal">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>







<div id="updateModal" ng-if="!showSpinner" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Update Don</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	
  	<select name="selectedOption" id="mySelect" class="form-control"
      ng-options=" option[1] for option in  typeList track by option[0]"
      ng-model="updateOption" ></select>
		<input type="number" placeholder="Quantity"  class="form-control" ng-model="updatequantity" />  
  		<input type="text" placeholder="Description" class="form-control" ng-model="updatedescription"/>  
  	  	<input type="text" placeholder="Affectation" class="form-control" ng-model="updateaffectation"/>  
  	
   
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="updateSelectedItem(updatequantity,updatedescription,updateOption,updateaffectation)" data-dismiss="modal">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>










<div id="exampleModal" ng-if="!showSpinner" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Add A New Don</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	
  	<select name="selectedOption" id="mySelect" class="form-control"
      ng-options=" option[1] for option in  typeList track by option[0]"
      ng-model="selectedOption" ></select>
		<input type="number" placeholder="Quantity"  class="form-control" ng-model="quantity" />  
  		<input type="text" placeholder="Description" class="form-control" ng-model="description"/>  
  	
   
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="addItem(quantity,description,selectedOption)" data-dismiss="modal">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div ng-if="showSpinner" class="lds-dual-ring"></div>