@charset "ISO-8859-1";
table{	
	width:100%;	
}
td{
	text-align:center;
}

.lds-dual-ring {
  display: block;
  width: 80px;
  height: 80px;
  margin:0 auto;
  padding-top:50px;
  padding-bottom:50px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #3a436c;
  border-color: #3a436c  transparent #3a436c  transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

input.form-control {
    margin: 15px 0px;
}
h3.modal-title {
    width: 90%;
    position: absolute;
    top: 8px;
}
.close{
	cursor:pointer;
}

#slider{
	background:url(../img/fund-compare-hero.png) no-repeat;
	background-size:cover;
	height:250px;
	width:100%;
}
section#slider h1 {
    color: #fff;
    font-family: Arial;
    font-size: 48px;
    text-align: center;
    padding-top: 80px;
    font-weight: bold;
}
.don-management-section{
padding-top: 25px;
padding-bottom: 25px;	
}
.global-btn.buttonclicked {
    width: 100%;
    display: flex;
    justify-content: flex-start !important;
    height: 100% !important;
    padding: 0 !important;
}
.global-btn{
	  width: 100%;
    display: flex;
    justify-content: space-around;
    align-items:center;
    height:calc(100vh - 300px);
    padding: 15px;

}

.global-btn.buttonclicked button {
    position: relative;
    width: 34%;
    height:auto !important;
    background: #4a4d60;
    border: none;
    padding:10px;
    color: #fff;
        border-right: 1px solid #fff !important;
    
}
.global-btn.buttonclicked button:focus{
	outline:none !important;
}
.global-btn button {
    position: relative;
    height: 200px;
    width: 200px;
    background: #4a4d60;
    border: none;
    color: #fff;
}
button.clicked {
    background: #e6e6e6 !important;
    color: #000 !important;
}
.mainapp{
	padding: 15px;
    background: #fafafa;
}
.addBtnWrrapper button {
    border-radius: 0;
}
td button {
    border-radius: 0px !important;
}
.addBtnWrrapper{
	width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}