@charset "ISO-8859-1";
table{	
	width:100%;	
}
td{
	text-align:center;
}

.lds-dual-ring {
  display: block;
  width: 80px;
  height: 80px;
  margin:0 auto;
  padding-top:50px;
  padding-bottom:50px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #3a436c;
  border-color: #3a436c  transparent #3a436c  transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

input.form-control {
    margin: 15px 0px;
}
h3.modal-title {
    width: 90%;
    position: absolute;
    top: 8px;
}
.close{
	cursor:pointer;
}

#slider{
	background:url(../img/fund-compare-hero.png) no-repeat;
	background-size:cover;
	height:250px;
	width:100%;
}
section#slider h1 {
    color: #fff;
    font-family: Arial;
    font-size: 48px;
    text-align: center;
    padding-top: 80px;
}
.don-management-section{
padding-top:50px;
padding-bottom:50px;	
}